@media screen and (min-width: $l-screen){
  header {
    height: $header-h2;
    background: transparent;
    transition: all 300ms ease-in;
  }

  .header-scroll {
    background: $bg-color;
  }
  
}